.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  height: 88px;
  background: rgba(70, 163, 88, 0.1);
  margin: 0 auto;
}

.footer__label {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #3d3d3d;
  margin-left: 5px;
}

.logo-wrapper,
.location,
.email,
.phone-number {
  display: flex;
  align-items: center;
}

.footer__img {
  filter: invert(49%) sepia(58%) saturate(424%) hue-rotate(80deg)
    brightness(99%) contrast(88%);
}
